body {
  background: #eee;
  background-attachment: fixed;
  background-image: url('/static/img/dusk.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-family: "QuickSand";
}

.container {
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
}

.navbar-default {
  background-color: #FAD3C5;
  opacity: 0.8;
  .transition(opacity 0.5s ease-in-out);
  &:hover {
    opacity: 1;
  }
  .navbar-nav > li > a {
    color: #000;
    opacity: 1;
  }
  .navbar-brand {
    color: #000;
    opacity: 1;
  }
  .navbar-toggle {
    border-color: #000;
    &:hover, &:focus {
      background-color: #0066CC;
    }
    .icon-bar {
      background-color: #000;
    }
  }
}
.navbar-brand {
  color: #000;  
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@font-face {
  font-family: QuickSand;
  src: url("/static/fonts/Quicksand-Regular.otf") format("opentype");
}



